@font-face {
    font-family: 'Rubik Pixels';
    src: url('RubikPixels-Regular.woff2') format('woff2'),
        url('RubikPixels-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

